.block_slider .slick-dots li button:before,
.project-slider .slick-dots li button:before {
    font-size: 16px;
    opacity: 0.25;   
}

.block_slider .slick-dots li button:hover:before,
.project-slider .slick-dots li button:hover:before {
    opacity: 0.5;
    color: #fff;
}

.block_slider .slick-dots li.slick-active button:before,
.project-slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}

.about-us_content.slick-dotted.slick-slider {
    margin-bottom: 0;
    
}
.about-us_content {
    .slick-dots {
        bottom: 0;
    }
}
.project-slider .slick-dots {
    bottom: -80px;
    right: 30%;
}

.project-slider.slick-dotted.slick-slider {
    margin-bottom: 80px;
}

.project-slider .slick-next:before, .project-slider .slick-prev:before {
    content: "";
    position: absolute;
    top: 26%;
    transform:  rotate(45deg);
    font-size: 0;
    opacity: 1;
    border-color: #e08181;
    border-style: solid;
    padding: 9px;
    transition: 0.2s;
}
.project-slider {
    .slick-next:before {
        border-width: 3px 3px 0 0;
        left: 15%; 
    }
    .slick-prev:before {
        border-width: 0 0 3px 3px;
        right: 15%;
    }
}

.project-slider .slick-prev {
    top: 94%;
    left: -58%;
}

.project-slider .slick-next {
    top: 94%;
    left: -50%;
}

.project-slider .slick-next, .project-slider .slick-prev {
    width: 50px;
    height: 50px;
    border: 2px solid #e08181;
    transition: 0.2s;
    &:active {
        border-color: #fff;
    }

    &:active.slick-next:before, &:active.slick-prev:before {
        border-color: #fff;
    }
}

.hamburger {
   
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    left: -100%;
    border: 2px solid #737373;
   
}

.hamburger-box {
    display: flex;
    align-items: center;
    width: 46px;
    height: 46px;
}
.hamburger-inner {
    left: 11px;
}

.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before {
    border-radius: 0;
    background-color: #737373;
    width: 24px;
    height: 3px;
}

.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner:after, 
.hamburger.is-active .hamburger-inner:before {
    background-color: #737373;
    border-radius: 0;
}
.hamburger-inner:before {
    left: 0;
    top: -7px;
}

.hamburger-inner:after {
    left: 0;
    bottom: -7px;
}