/**
Webfont
*/

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/GilroyLight/gilroy-light.ttf');
    src: url('../fonts/GilroyLight/gilroy-light.eot') format('embedded-opentype'), 
    url('../fonts/GilroyLight/gilroy-light.woff2') format('woff2'), 
    url('../fonts/GilroyLight/gilroy-light.woff') format('woff'), 
    url('../fonts/GilroyLight/gilroy-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



