// Start footer code
section.section-footer#footer
  div.container
    div.footer_social
      a(href="")
        img(src="img/facebook-footer-icon.png", alt="facebook")
      a(href="")
        img(src="img/youtube-footer-icon.png", alt="youtube")
      a(href="")
        img(src="img/viber-footer-icon.png", alt="viber")
    div.footer_links
      a(href="#") Contacts
      a(href="#") Support
    

// End footer code
