
// Start Header code
header.site-header#home
  section.top-menu
    ul.top-menu_list
      li.top-menu_item
        a.top-menu_item_link(href="#") Translitor.org
      li.top-menu_item
        a.top-menu_item_link(href="#") 
          | Htmleditor.cc
      li.top-menu_item
        a.top-menu_item_link(href="#") 
          | RusInfo.eu
      li.top-menu_item
        a.top-menu_item_link(href="#") 
          | Perevodchik.co
      li.top-menu_item
        a.top-menu_item_link(href="#") 
          | Gospital.eu
      li.top-menu_item
        a.top-menu_item_link(href="#") Domesticus.eu
      li.top-menu_item
        a.top-menu_item_link(href="#") Mending.eu
      li.top-menu_item
        a.top-menu_item_link(href="#") WorkInTheNetherlands.nl
  
  section.site-header_container.site-logo.site-nav_cont
    div.site-logo 
      a.site-logo_link(href="#")
        img(src="img/logo.png", alt="site-logo") 
     
    nav.site-nav#site-nav
      button.hamburger.hamburger--stand(type="button")
        span.hamburger-box
          span.hamburger-inner
          
      ul.site-nav_list
        li.site-nav_item
         a.home_button(href="#home")
            img(src="img/home-logo.png", alt="home-logo")
        li.site-nav_item
          a.site-nav_link(href="#services") Services
        li.site-nav_item
          a.site-nav_link(href="#about_us") About
        li.site-nav_item
          a.site-nav_link(href="#sprojects") Projects
        li.site-nav_item
          a.site-nav_link(href="#technologies") Technologies  
        li.site-nav_item
          a.site-nav_link(href="#contact") Contact

    div.lang-selection
      span
        | en
  
  section.site-header_container.header-content
    div.header-title
      h1 Web Development #[br] & Internet Marketing
          
      h3 
        | We 
        span develop 
        | outstanding socially oriented commercial 
        | web projects with added value and 
        span promote 
        | them in Internet

    div.header-button-cont
      a.contact-us_button(href="") Contact us
    
    div.header-contacts
      div.arrow_cont
        a(href="#")
          img(src="img/arrow-down.png", alt="arrow-down")

      div.header-contacts_cont
        ul
          li
            a(href="")
              img(src="img/email-logo.png", alt="email-logo")
          li
            a(href="")
              img(src="img/skype-logo.png", alt="skype-logo")
          li
            a(href="")
              img(src="img/phone-logo.png", alt="phone-logo")
          
// End Header code