// Start Projects code
section.section-projects#sprojects
  div.container
    div.projects_title
      h2
        | CURRENT PROJECTS 
    div.slider_container
      div.projects_item
        h3
          | Translitor.org
        p
          | is a free virtual keyboard and dictionary, with built-in transliteration function that makes it possible 
          | typing Cyrillic with Latin letters
      div.project-slider
      
        div
          img(src="img/slider-img.jpg", alt="slider-img")
        div
          img(src="img/slider-img.jpg", alt="slider-img")
        div
          img(src="img/slider-img.jpg", alt="slider-img")
        div
          img(src="img/slider-img.jpg", alt="slider-img")
          
// End Projects code