// Start services code
section.section-services#services
  div.container
    div.services_title
      h2
        | What can we do for you? 
      p 
        | A to Z project cycle: #[br]
        | Planning, Design, Coding, Optimization,
        | Testing, Auditing and e-Marketing 

    div.services-column
      div.services_item
        div.services_item_title
          h3.web-desing
            | Web development
        div
          h4
            | Full Stack PHP Web Development
          p
            | We can help you creating a proper development plan, 
            | shape your ideas into specific product or take care of your existing framework


      div.services_item
        div.services_item_title
          h3.consultancy 
            | Consultancy 
        div
          h4
            | Business Development
          p
            | Assistance in shaping ideas into a specific product through market 
            | research and competitive analysis as well as in finding proper 
            | technological approaches to comply with set objectives

    div.services-column
      div.services_item
        div.services_item_title
          h3.merketing
            | Internet Marketing 
        div
          h4
            | Search Engines Optimization (SEO)
          h4
            | Social Media Marketing (SMM)
          h4
            | Search Engines Advertising (SEA)
          p
            | Even if a website gets developed and designed in a most brilliant 
            | and dynamic way it won’t get many views without a proper employment 
            | of strategic internet marketing that comes to help your website or
            | a page getting more traffic, visitors and page views
      div.services_item
        div.services_item_title
          h3.support
            | Support
        div
          h4
            | Documentation Support (texts, catalogues, websites and software)
          h4
            | Remote Technical Support of networks and computers (Windows/Mac)
          p
            | Productive support of individuals and companies in documentation processing 
            | and IT technical troubleshooting
// End services code