// Start Technologies code
section.section-technologies#technologies
  div.container
    div.technologies-title
      h2
        | Our Technologies

    div.tab
      button.tablinks.active(onclick="openCity(event, 'marketing')") 
        | INTERNET MARKETING 
      
      button.tablinks(onclick="openCity(event, 'web-desing')") 
        | WEB DESIGN  
        
      button.tablinks(onclick="openCity(event, 'development')") 
        | WEB DEVELOPMENT

      button.tablinks(onclick="openCity(event, 'desing')") 
        | DESIGN
        
      // Tab content
    div#marketing.tabcontent
      div.tabccontainer
        div.tabccontainer-img
          img(src="img/smm.jpg", alt="smm")
        div.tabccontainer-img
          img(src="img/seo.jpg", alt="seo")
        div.tabccontainer-img
          img(src="img/youtube.jpg", alt="youtube")

    div#web-desing.tabcontent
      div.tabccontainer
        div.tabccontainer-img
          img(src="img/seo.jpg", alt="seo")
        div.tabccontainer-img
          img(src="img/youtube.jpg", alt="youtube")
        div.tabccontainer-img
          img(src="img/smm.jpg", alt="smm")

    div#development.tabcontent
      div.tabccontainer
        div.tabccontainer-img
          img(src="img/youtube.jpg", alt="youtube")
        div.tabccontainer-img
          img(src="img/smm.jpg", alt="smm")
        div.tabccontainer-img
          img(src="img/seo.jpg", alt="seo")
          
    div#desing.tabcontent
      div.tabccontainer
        div.tabccontainer-img
          img(src="img/seo.jpg", alt="seo")
        div.tabccontainer-img
          img(src="img/smm.jpg", alt="smm")
        div.tabccontainer-img
          img(src="img/youtube.jpg", alt="youtube")

// End Technologies code