
<!-- Start Contact code-->
<section class="section-contact" id="contact">
  <div class="container">
    <div class="contact-title">
      <h2>Contact</h2>
    </div>
    <div class="contact_content">
      <div class="contact_list">
        <h4>We are always there to help you </h4>
        <div class="contact-info_row contact-email" title="Email">info@webfaber.eu</div>
        <div class="contact-info_row contact-skype" title="Skype">info@webfaber.eu </div>
        <div class="contact-info_row contact-phone" title="Phone">
          <div class="phone_number">+31 6 22 88 63 11 </div>
          <div class="phone_operators">(Whatsapp/Viber/Telegram)</div>
        </div>
      </div>
      <div class="contact_form_container">
        <form class="contact_form" action="">
          <h4>Leave us a message</h4>
          <input class="contact-input_name" type="text" name="name" placeholder="name"/>
          <input class="contact-input_email" type="email" name="email" placeholder="email"/>
          <input class="contact-input_phone" type="tel" name="phone" placeholder="phone"/>
          <textarea class="contact-textarea_massage" name="message" placeholder="message"></textarea>
          <button class="contact_button">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact code-->