
<!-- Start Projects code-->
<section class="section-projects" id="sprojects">
  <div class="container">
    <div class="projects_title">
      <h2>CURRENT PROJECTS </h2>
    </div>
    <div class="slider_container">
      <div class="projects_item">
        <h3>Translitor.org</h3>
        <p>
          is a free virtual keyboard and dictionary, with built-in transliteration function that makes it possible 
          typing Cyrillic with Latin letters
        </p>
      </div>
      <div class="project-slider">
        <div><img src="img/slider-img.jpg" alt="slider-img"/></div>
        <div><img src="img/slider-img.jpg" alt="slider-img"/></div>
        <div><img src="img/slider-img.jpg" alt="slider-img"/></div>
        <div><img src="img/slider-img.jpg" alt="slider-img"/></div>
      </div>
    </div>
  </div>
</section>
<!-- End Projects code-->