
<!-- Start services code-->
<section class="section-services" id="services">
  <div class="container">
    <div class="services_title">
      <h2>What can we do for you? </h2>
      <p>
         A to Z project cycle: <br/>
        Planning, Design, Coding, Optimization,
        Testing, Auditing and e-Marketing 
      </p>
    </div>
    <div class="services-column">
      <div class="services_item">
        <div class="services_item_title">
          <h3 class="web-desing">Web development</h3>
        </div>
        <div>
          <h4>Full Stack PHP Web Development</h4>
          <p>
            We can help you creating a proper development plan, 
            shape your ideas into specific product or take care of your existing framework
          </p>
        </div>
      </div>
      <div class="services_item">
        <div class="services_item_title">
          <h3 class="consultancy">
             Consultancy </h3>
        </div>
        <div>
          <h4>Business Development</h4>
          <p>
            Assistance in shaping ideas into a specific product through market 
            research and competitive analysis as well as in finding proper 
            technological approaches to comply with set objectives
          </p>
        </div>
      </div>
    </div>
    <div class="services-column">
      <div class="services_item">
        <div class="services_item_title">
          <h3 class="merketing">Internet Marketing </h3>
        </div>
        <div>
          <h4>Search Engines Optimization (SEO)</h4>
          <h4>Social Media Marketing (SMM)</h4>
          <h4>Search Engines Advertising (SEA)</h4>
          <p>
            Even if a website gets developed and designed in a most brilliant 
            and dynamic way it won’t get many views without a proper employment 
            of strategic internet marketing that comes to help your website or
            a page getting more traffic, visitors and page views
          </p>
        </div>
      </div>
      <div class="services_item">
        <div class="services_item_title">
          <h3 class="support">Support</h3>
        </div>
        <div>
          <h4>Documentation Support (texts, catalogues, websites and software)</h4>
          <h4>Remote Technical Support of networks and computers (Windows/Mac)</h4>
          <p>
            Productive support of individuals and companies in documentation processing 
            and IT technical troubleshooting
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End services code-->