
<!-- Start Technologies code-->
<section class="section-technologies" id="technologies">
  <div class="container">
    <div class="technologies-title">
      <h2>Our Technologies</h2>
    </div>
    <div class="tab">
      <button class="tablinks active" onclick="openCity(event, 'marketing')">
         INTERNET MARKETING </button>
      <button class="tablinks" onclick="openCity(event, 'web-desing')">
         WEB DESIGN  </button>
      <button class="tablinks" onclick="openCity(event, 'development')">
         WEB DEVELOPMENT</button>
      <button class="tablinks" onclick="openCity(event, 'desing')">
         DESIGN</button>
      <!-- Tab content-->
    </div>
    <div class="tabcontent" id="marketing">
      <div class="tabccontainer">
        <div class="tabccontainer-img"><img src="img/smm.jpg" alt="smm"/></div>
        <div class="tabccontainer-img"><img src="img/seo.jpg" alt="seo"/></div>
        <div class="tabccontainer-img"><img src="img/youtube.jpg" alt="youtube"/></div>
      </div>
    </div>
    <div class="tabcontent" id="web-desing">
      <div class="tabccontainer">
        <div class="tabccontainer-img"><img src="img/seo.jpg" alt="seo"/></div>
        <div class="tabccontainer-img"><img src="img/youtube.jpg" alt="youtube"/></div>
        <div class="tabccontainer-img"><img src="img/smm.jpg" alt="smm"/></div>
      </div>
    </div>
    <div class="tabcontent" id="development">
      <div class="tabccontainer">
        <div class="tabccontainer-img"><img src="img/youtube.jpg" alt="youtube"/></div>
        <div class="tabccontainer-img"><img src="img/smm.jpg" alt="smm"/></div>
        <div class="tabccontainer-img"><img src="img/seo.jpg" alt="seo"/></div>
      </div>
    </div>
    <div class="tabcontent" id="desing">
      <div class="tabccontainer">
        <div class="tabccontainer-img"><img src="img/seo.jpg" alt="seo"/></div>
        <div class="tabccontainer-img"><img src="img/smm.jpg" alt="smm"/></div>
        <div class="tabccontainer-img"><img src="img/youtube.jpg" alt="youtube"/></div>
      </div>
    </div>
  </div>
</section>
<!-- End Technologies code-->