/*START SERVICES*/
.section-services {
    background-color: #c10303;
    padding-top: 190px;
    padding-bottom: 130px;
    color: #fff;
}
.services_content {
    width: 100%;
}
.services_title {
    h2 {
        font-size: 56px;
        font-weight: bold;
        margin-bottom: 55px;
        text-transform: uppercase;
    }

    p {
        position: relative;
        padding-top: 45px;
        font-size: 20px;
        &::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 2px;
            background-color: #fff;
            left: 0;
            top: 0;
        }
    }
}

.services_item {

    .services_item_title{
        margin-bottom: 35px;
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
    }

    h4 {
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 1.15;
    }
    p {
        margin-top: 30px;
        line-height: 1.8;
    }
}

.services_item_title {
    display: flex;
    align-items: center;
    h3{
        padding:10px 0 10px 75px;
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    .web-desing {
        background-image: url('../img/wab-desing-logo.png');
    }
    .consultancy {
        background-image: url('../img/idea-logo.png');
    }
    .merketing {
        background-image: url('../img/marketing-logo.png');
    }
    .support {
        background-image: url('../img//support-logo.png');
    }
}





.services_grid__container{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "services_title web-desing merketing" 
    "services_title consultancy support";
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    }

  
  .services_title_grid { 
    margin-right: 100px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
      grid-area: services_title; 
    }
  
  .web-desing_grid {
    margin-bottom: 80px;
    margin-right: 50px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
      grid-area: web-desing; 
    }
  
  .consultancy_grid {
    margin-right: 50px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
      grid-area: consultancy; 
    }
  
  .merketing_grid {
    margin-left: 50px;
    margin-bottom: 80px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
      grid-area: merketing; 
    }
  
  .support_grid { 
    margin-left: 50px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
      grid-area: support; 
    }

/*END SERVICES*/