/*START technologies*/
.section-technologies {
    background-color: #ffffff;
    padding-top: 190px;
    padding-bottom: 355px;
    color: #000;
    .container {
      flex-direction: column;
    }
  }

.technologies-title {
  h2 {
    font-weight: bold;
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
}
  
  /*END technologies*/